@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .login-container {
        @apply min-h-screen w-full flex items-center justify-center flex-col bg-gray-50 p-4 font-inter
    }

    .login-logo-main-div {
        @apply flex items-center justify-between mb-10
    }

    .login-logo-div {
        @apply w-full h-full rounded-md flex items-center justify-center
    }

    .login-logo-img {
        @apply w-[173px] h-[42px] object-contain
    }

    .login-card {
        @apply w-full max-w-6xl bg-white shadow-md grid grid-cols-1 md:grid-cols-2 overflow-hidden
    }

    /*====== Left Section ====== */

    .login-left-section-main-div {
        @apply p-10 bg-[#FCF9F7] border-r border-gray-200 flex flex-col justify-center
    }

    .login-left-section-title {
        @apply flex items-center mb-6
    }

    .login-left-section-title-text {
        @apply text-[16px] font-medium text-gray-800
    }

    .login-left-section-title-badge {
        @apply flex text-xs bg-[#DF9100] text-white px-1 font-semibold rounded-lg mr-2
    }

    .login-left-section-title-badge-icon {
        @apply mr-2
    }

    .login-left-section-title-badge-text {
        @apply text-xs bg-[#DF9100] text-white px-1 font-semibold rounded-lg mr-2
    }

    .login-left-section-description {
        @apply flex justify-center items-center
    }

    .login-left-section-description-text {
        @apply text-gray-600 font-normal text-sm leading-relaxed max-w-[390px]
    }

    .login-left-section-box {
        @apply mt-10 w-full h-56 bg-[#FCF9F7] shadow-2xl flex items-end justify-center
    }

    .login-left-section-box-inner {
        @apply w-40 h-10 bg-white shadow-2xl shadow-gray-700
    }

    /*====== Right Section ====== */

    .login-right-section-main-div {
        @apply p-10 flex flex-col justify-center
    }

    .login-right-section-title {
        @apply text-xl font-bold text-gray-800 mb-6
    }

    .login-right-section-description {
        @apply text-gray-600 font-normal text-sm leading-relaxed max-w-[390px]
    }

    .login-right-section-description-text {
        @apply text-gray-600 font-normal text-sm leading-relaxed max-w-[390px]
    }

    .login-right-section-description-text-span {
        @apply text-[#DF9100] cursor-pointer ml-1
    }

    .login-right-section-description-text-span:hover {
        @apply text-[#DF9100] cursor-pointer ml-1
    }

    .login-right-section-description-text-span:active {
        @apply text-[#DF9100] cursor-pointer ml-1
    }

    .login-right-section-label {
        @apply text-sm font-medium text-[#2F2F2F]
    }

    .login-right-section-input {
        @apply w-full mt-1 mb-4 px-4 py-2 border rounded-md focus:ring-2 focus:ring-blue-300 outline-none
    }

    .login-right-section-password {
        @apply flex justify-between items-center
    }

    .login-right-section-password-label {
        @apply text-sm font-medium text-[#2F2F2F]
    }

    .login-right-section-forgot-password-button {
        @apply text-sm text-[#8E94BB] hover:text-blue-600 transition
    }

    .login-right-section-button {
        @apply w-full bg-[#6696F5] text-white py-2 rounded-md font-semibold hover:bg-blue-600 transition
    }

    .login-right-section-google-microsoft {
        @apply flex items-center justify-center gap-4 mt-4
    }

    .login-right-section-google-microsoft-button {
        @apply flex items-center gap-2 border px-4 py-2 text-[#F57D2C] rounded-md hover:bg-gray-100 transition
    }

    .login-right-section-sso {
        @apply w-full inline-flex border-solid justify-center text-sm text-[#2F2F2F] !border !border-[#E2E2E2] appearance-none outline-none mt-4 py-2 rounded-md hover:bg-gray-100 transition
    }

    .login-right-section-or {
        @apply flex items-center my-4
    }

    .login-right-section-or-span {
        @apply px-2 text-gray-500 text-sm
    }

    .login-right-section-or-span-span {
        @apply px-2 text-gray-500 text-sm
    }
}