@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .login-container {
        @apply min-h-screen w-full flex items-center justify-center flex-col bg-gray-50 dark:bg-[#12141c] p-4 font-inter transition-colors duration-300
    }

    .login-logo-main-div {
        @apply flex items-center justify-between mb-10
    }

    .login-logo-div {
        @apply w-full h-full rounded-md flex items-center justify-center
    }

    .login-logo-img {
        @apply w-[173px] h-[42px] object-contain
    }

    .login-card {
        @apply w-full max-w-6xl bg-white dark:bg-[#1a1c23] shadow-md dark:shadow-none grid grid-cols-1 md:grid-cols-2 overflow-hidden dark:border dark:border-gray-800 rounded-xl
    }

    /*====== Left Section ====== */

    .login-left-section-main-div {
        @apply p-10 bg-[#FCF9F7] dark:bg-[#16181d] border-r border-gray-200 dark:border-gray-800 flex flex-col justify-center
    }

    .login-left-section-title {
        @apply flex items-center mb-6
    }

    .login-left-section-title-text {
        @apply text-[16px] font-medium text-gray-800 dark:text-gray-200
    }

    .login-left-section-title-badge {
        @apply flex text-xs bg-[#DF9100] text-white px-1 font-semibold rounded-lg mr-2
    }

    .login-left-section-title-badge-icon {
        @apply mr-2
    }

    .login-left-section-title-badge-text {
        @apply text-xs bg-[#DF9100] text-white px-1 font-semibold rounded-lg mr-2
    }

    .login-left-section-description {
        @apply flex justify-center items-center
    }

    .login-left-section-description-text {
        @apply text-gray-600 dark:text-gray-400 font-normal text-sm leading-relaxed max-w-[390px]
    }

    .login-left-section-box {
        @apply mt-10 w-full h-56 bg-[#FCF9F7] dark:bg-[#16181d] shadow-2xl dark:shadow-none flex items-end justify-center
    }

    .login-left-section-box-inner {
        @apply w-40 h-10 bg-white dark:bg-gray-800 shadow-2xl shadow-gray-700 dark:shadow-black
    }

    /*====== Right Section ====== */

    .login-right-section-main-div {
        @apply p-10 flex flex-col justify-center
    }

    .login-right-section-title {
        @apply text-xl font-bold text-gray-800 dark:text-gray-100 mb-6
    }

    .login-right-section-description {
        @apply text-gray-600 dark:text-gray-400 font-normal text-sm leading-relaxed max-w-[390px]
    }

    .login-right-section-description-text {
        @apply text-gray-600 dark:text-gray-400 font-normal text-sm leading-relaxed max-w-[390px]
    }

    .login-right-section-description-text-span {
        @apply text-[#DF9100] cursor-pointer ml-1
    }

    .login-right-section-description-text-span:hover {
        @apply text-[#DF9100] cursor-pointer ml-1
    }

    .login-right-section-description-text-span:active {
        @apply text-[#DF9100] cursor-pointer ml-1
    }

    .login-right-section-label {
        @apply text-sm font-medium text-[#2F2F2F] dark:text-gray-300
    }

    .login-right-section-input {
        @apply w-full mt-1 mb-4 px-4 py-2 border dark:border-gray-700 rounded-md bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 focus:ring-2 focus:ring-blue-300 dark:focus:ring-blue-800 outline-none transition-all
    }

    .login-right-section-password {
        @apply flex justify-between items-center
    }

    .login-right-section-password-label {
        @apply text-sm font-medium text-[#2F2F2F] dark:text-gray-300
    }

    .login-right-section-forgot-password-button {
        @apply text-sm text-[#8E94BB] dark:text-gray-500 hover:text-blue-600 dark:hover:text-blue-400 transition
    }

    .login-right-section-button {
        @apply w-full bg-[#6696F5] dark:bg-blue-600 text-white py-2 rounded-md font-semibold hover:bg-blue-600 dark:hover:bg-blue-700 transition-all shadow-sm
    }

    .login-right-section-google-microsoft {
        @apply flex items-center justify-center gap-4 mt-4
    }

    .login-right-section-google-microsoft-button {
        @apply flex items-center gap-2 border dark:border-gray-700 px-4 py-2 text-[#F57D2C] rounded-md bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-700 transition-all
    }

    .login-right-section-sso {
        @apply w-full inline-flex border-solid justify-center text-sm text-[#2F2F2F] dark:text-gray-300 !border !border-[#E2E2E2] dark:border-gray-700 appearance-none outline-none mt-4 py-2 rounded-md hover:bg-gray-100 dark:hover:bg-gray-800 transition-all bg-white dark:bg-gray-800
    }

    .login-right-section-or {
        @apply flex items-center my-4
    }

    .login-right-section-or-span {
        @apply px-2 text-gray-500 dark:text-gray-500 text-sm
    }

    .login-right-section-or-span-span {
        @apply px-2 text-gray-500 dark:text-gray-500 text-sm
    }
}